#about-sidebar {
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px 0 20px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 500px;
  border-right: black 2px solid;
  box-shadow: 5px 0 5px -1px rgb(183, 183, 183);
}

// Typography: 
h1.title {
  font-family: $title-font
}

h1.title {
  margin-top: 80vh;
  margin-bottom: 3vh;
  font-size: 300%;
}

p,
a,
span {
  font-family: $paragraph-font
}

span {
  font-size: 10px;
  ;
}

p.sources{
  font-size: x-small;
}

// List / nav: 
li.nav-list,
a {
  color: #141414;
  text-decoration: none !important;
  list-style: none;
  display: inline-block;
  text-align: justify;
  padding-right: 10px;
  margin: 10px;
  position: relative;
  ::before {
    background-color: rgb(217, 241, 245);

    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 60%;
    left: -3px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }
}

#nav { 
  display: table; 
  margin: 0 auto;
}

ul#about li {
  display: inline;
}


// Sections:

section {
  text-align: left;

  h2 {
    font-size: 22px;
    font-family: $sub-heading-font;
    margin-top: 30px;
  }

  p {
    font-size: 13px;
  }

  .container {
    padding-bottom: 10px;
    position: relative;
  }

  &:last-of-type {
    .container {
      padding-bottom: 50px;
    }
  }
}

#hero {
  height: 250px;
  background-image:
    url('/assets/hero-image.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid black;
  margin-top: 60px;
}

#gallery {
  height: 100px;
  margin-left: 20px;
  .image {
    background-position: center;
    background-size: cover;
    height: 100px;
    float: left;
    width: 125px;
    margin: 5px;
    border: 1px solid black;

    &:after {
      content: '';
      padding-bottom: 100%;

    }

    &.image-one {
      background-image: url('/assets/image-one.png');
    }

    &.image-two {
      background-image: url('/assets/image-two.png');
    }

    &.image-three {
      background-image: url('/assets/image-three.png');
    }
  }
}

#waste-age {
  p {
    padding-top: 20px;
  }

}
