nav-container {
  // padding: 30px 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border: 1px solid black;
  z-index: 1;
}

h1.nav-title {
  font-family: $title-font;
  text-align: end;
  font-size: 40px;
  margin-bottom: 20px;
  margin-right: 10px
}