// IMPORTS: 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

// FONTS: 
$title-font: 'Archivo Black', sans-serif;
$sub-heading-font: 'Archivo', sans-serif;
$paragraph-font: 'Work Sans', sans-serif;


// FONT COLORS: 
$stand-out: #e6ffa0;
$subtle:  #01cbbd;
$standard: #111;